@model SeoFrontEnd.Models.UserModel
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div id="page">
    <div class="inner">

        <div id="main_part">
            <ul class="sidebar">
                <li><a id="new" href="#">New Estimate</a><div style="display: none" class="tip"><div class="left"></div><div class="right">New Estimate</div></div></li>
            </ul>
            <div class="message purple">
                <a class="close_box" href="#">Close</a>
                <h2>@ViewBag.InfoTitle</h2>
                @ViewBag.InfoMessage
            </div>
            <div class="box">
                <div id="account_overview_part" class="part">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        for(int i = 1 ; i < Model.urlLimit + 1; i ++ )
                        {
                            <div class="inline">
                             <label>url @i</label>
                            @if (!string.IsNullOrEmpty(Model.urlKeywordSets[i - 1].url))
                            {
                                @Html.TextBoxFor(m => m.urlKeywordSets[i - 1].url, new { @class = "field", @readonly = true })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.urlKeywordSets[i - 1].url, new { @class = "field" })
                            }
                            </div>
                        }
                 
                        <div class="control">
                            <input type="submit" value="Save" class="button save">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="space"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
