@model SeoFrontEnd.Models.WebsiteModel
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div id="page">
    <div class="inner">

        <div style="display: none;" id="new_part">
            <ul class="sidebar">
                <li><a id="cancel" href="#" class="cancel">Cancel</a><div style="display: none;" class="tip"><div class="left"></div><div class="right">Cancel</div></div></li>
            </ul>
            <div class="message purple">
                <a class="close_box" href="#">Close</a>
                <h2>@ViewBag.InfoTitle</h2>
                @ViewBag.InfoMessage
            </div>

            <div class="box">
                <div id="account_overview_part" class="part">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <div class="inline">

                            <label>website</label>
                            @Html.TextBoxFor(m => m.url, new { @class = "field" })

                        </div>

                        <div class="control">
                            <input type="submit" value="Save" class="button save">
                        </div>
                    }
                </div>
            </div>

        </div>

        <div id="main_part">
            <ul class="sidebar">
                <li><a id="new" href="#">Add Website</a><div style="display: none" class="tip"><div class="left"></div><div class="right">Add Website</div></div></li>
            </ul>
            <div class="message purple">
                <a class="close_box" href="#">Close</a>
                <h2>@ViewBag.InfoTitle</h2>
                @ViewBag.InfoMessage
            </div>

            <div class="bar">
                <span class="company">Website</span>
            </div>

            <ul class="rows">

                @if (Model.urls != null)
                {
                    foreach (string url in Model.urls)
                    {
                        <li class="row">
                            <span class="contact_email"><a href="@url">@url</a></span>
                            @Html.ActionLink("Remove", "RemoveWebsite", new { url = @url })
                            <span class="contact_email"><a href="@url">Edit Keywords</a></span>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div id="space"></div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#navigation a").removeClass("current");
            $(".websites").addClass("current");
        });

        $("#navigation a").on("click", function () {
            $("#navigation a").removeClass("current");
            $(this).addClass("current")
        });

        $("#new").on("click", function () {
            $("#main_part").hide();
            $("#new_part").show();
            $("#url").val('');
            return false
        });

        $("#remove").on("click", function () {
            $("#main_part").hide();
            $("#new_part").hide();
            return false
        });

        $(".cancel").on("click", function () {
            $("#new_part").hide();
            $("#main_part").show();
            $("#url").val('');
            return false
        });

        $(".sidebar li a").hover(
             function () {
                 $(".tip").hide();
                 $(this).next(".tip").show();
             }, function () {
                 $(this).next(".tip").fadeOut("fast")
             }
        );

        $(".message .close_box").on("click", function () {
            $(".message").fadeOut();
            return false
        });

    </script>
}

