<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Account/css")
</head>
<body id="invoices">

    <div id="head">
        <div class="inner">
            <h1 id="logo">scanner</h1>
            <ul id="shortcuts">
                
                <li><a href="http://testier.invoicemachine.com/account">Account</a></li>
                <li><a class="blank" href="http://invoicemachine.com/help">Help</a></li>

                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                </li>

            </ul>
            <ul id="navigation">
                <li>@Html.ActionLink("Websites", "Website", "Account", new { @class = "current websites" })</li>
                <li>@Html.ActionLink("Keywords", "Keywords", "Account", new { @class = "keywords" })</li>
                <li>@Html.ActionLink("Reports", "Reports", "Account", new { @class = "reports" })</li>
            </ul>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
